[push]
	default = matching
[alias]
	co = checkout
[init]
	defaultBranch = projects
[user]
	name = rosebeni
	email = rosebenila3@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
